ul {
    list-style: circle;
}
li {
    margin-left: 20px;
}

.frame-button {
    margin-left: 10px;
    /*display: list-item;*/
    border-radius: 0;
}

.square-borders {
    border-radius: 0;
}

#json-frames {
    margin-top: 35px;
}

.frame-name-error {
    display: inline-block;
}

.error-name-cell {
    height:auto;
    min-height: 100px;
    margin: 20px;
    display:inline-block;
    border-left: 2px solid;
    padding-left: 10px;
}

.frame-name-strong {
    margin-left: 10px;
}

.add-to-frame-btn {
    width: 40px;
    margin-left: auto;
    display: block;
}

#button-add-slot {
    margin-left: auto;
    width: 90px;
}

#slots-table {
    margin-bottom: 0;
}

.btn-frame-expand-collapse {
    width: 100px;
    height: 20px;
}

.json-save {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 200px;
}

.btn-save {
    display: inline-block;
}

.load-button {
    margin-bottom: 30px;
}

.edit-block {
    margin-top: 10px;
}

.back-from-load {
    margin-bottom: 5px;
    margin-top: 30px;
}

.right-button {
    display: inline-block;
    float: right;
}
