<!DOCTYPE html>
<html lang="en" ng-app="frameApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>lab04</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
  
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/circular-json/build/circular-json.js"></script>
  <script src="bower_components/underscore/underscore-min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/services.js"></script>
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->

</head>
<script type="text/ng-template"  id="magic.html">
  <span
    ng-show="ctrlMain.isFrameShowed(frame)">
  </span>

  <button
    ng-show="ctrlMain.isFrameShowed(frame)"
    ng-click="ctrlMain.onListClick(frame)"
    ng-class="{'btn-default': ctrlMain.frameIsOk(frame), 'btn-danger': ctrlMain.frameIsNotOk(frame), 'btn-success': ctrlMain.frameSearched(frame)}"
    class="btn frame-button">
      {{frame.name}}
      <span class="glyphicon glyphicon-th"></span>
  </button>

  <label 
    ng-click="ctrlMain.onFrameClick(frame)"
    ng-show="ctrlMain.showCollapseExpand(frame)"
    class="btn-frame-expand-collapse"
    <span
      ng-class="{'glyphicon glyphicon-plus': ctrlMain.showExpand(frame), 'glyphicon glyphicon-minus': ctrlMain.showCollapse(frame)}">
    </span> 
  </label> 

  <div 
    ng-repeat="frame in frame.childs" 
    ng-include="'magic.html'"
    class="frame-button"></div>
  </div>

</script>

<body class="container">
  <div ng-controller="MainController as ctrlMain">
    
    <div 
      ng-hide="showSave || showLoad"
      class="row">
      <div 
        class="well">
          <button 
            ng-click="ctrlMain.saveFrames()"
            class="btn btn-primary" type="submit">
            Сохранить <span class="glyphicon glyphicon-floppy-save"></span>
          </button>
          <button 
            ng-click="ctrlMain.loadFrames()"
            class="btn btn-primary" type="submit">
            Загрузить <span class="glyphicon glyphicon-floppy-open"></span>
          </button>
          <button 
            ng-click="ctrlMain.clearFrames()"
            class="btn btn-danger" type="submit">
            Очистить фреймы <span class="glyphicon glyphicon-remove"></span>
          </button>
          <div class="right-button"> <button 
              ng-click="ctrlMain.startSearch()"
              class="btn btn-success" type="submit">
              Поиск <span class="glyphicon glyphicon-search"></span>
            </button>
          </div>
      </div>
    </div>

    <div 
      ng-show="showSearch"
      class="well">
     <h3>Поиск</h3>
     <div class="">
      <div>
        Слот: 
        <select 
          ng-model="searchSlot"
          ng-options="slot.name for slot in ctrlMain.getSlotsForSearch()"
          name="np" 
          id="">
        </select>
      </div>
      <div>
        <select 
          ng-model="searchPredicate"
          ng-options="op.name for op in ctrlMain.getPredicates(searchSlot.type)"
          name="np" 
          id="">
        </select>
        <input 
          ng-show="ctrlMain.showSearchInput(searchSlot.type)" 
          ng-model="searchInput"
          type="text"/>
      </div>
     </div>
     <button ng-click="ctrlMain.searchFunction(searchPredicate, searchSlot, searchInput)" class="btn btn-success" type="submit">
       Найти <span class="glyphicon glyphicon-search"></span>
     </button>
      <button 
        ng-click="ctrlMain.cleanSearch(frames[0])"
        class="btn btn-primary">
        Очистить поиск
      </button>
      
    </div>
    <div 
      ng-show="ctrlMain.showErrorSameNames()"
      class="row well">
      <h3 class="text-danger">Фреймы с дублирующимися именами:</h3>
        <div ng-repeat="nameError in sameNames" class="row">
          <!-- <div>{{nameError[0].name}}</div> -->
          <div ng-repeat="frameName in nameError" class="error-name-cell">
            <div> {{frameName.frame.parent.name}} => <br>
              <strong class="frame-name-strong">{{frameName.name}}</strong></div>
            <ul ng-show="ctrlMain.haveSlots(frameName.frame)">
              <li ng-repeat="slot in frameName.frame.slots">
                {{slot.type}} |
                {{slot.name}} |
                {{slot.value}} 
              </li>
            </ul>
            <ul ng-hide="ctrlMain.haveSlots(frameName.frame)">
              <li>Не имеет слотов</li>
            </ul>

            <!--ng-click="mainCtrl.rightFrame(nameError, frameName.frame)">-->
            <button 
              class="btn btn-success btn-frame-name-error"
              ng-click="ctrlMain.rightFrame(nameError, frameName.frame)">
              Оставить этот фрейм
            </button>
            <button 
              class="btn btn-danger btn-frame-name-error"
              ng-click="ctrlMain.removeErrorFrame(nameError, frameName)">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </div>
        </div>
    </div>
   
    <!-- <div class="row well">
      <span>Добавить дочерний фрейм к фрейму "{{currentFrame.name}}"</span>
       <input 
         ng-model="newFrameName" 
         type="text">
        <button 
          ng-click="ctrlMain.addFrame(currentFrame, newFrameName)"
          ng-class="{'text-danger': !ctrlMain.checkFrameName(frames[0], newFrameName)}"
          class="btn btn-success">
          <span class="glyphicon glyphicon-ok"></span>
        </button>
        <div 
          ng-show="!ctrlMain.checkFrameName(frames[0], newFrameName)"
          class="text-danger">
          Ошибка: фрейм с таким именем уже есть
        </div> 
    </div> -->

    <div class="row" ng-hide="showSave || showLoad">
      <div class="col-md-6">
        <h3>Фреймы</h3>
        <div btn-group>
          <div 
            ng-repeat="frame in frames"
            ng-include="'magic.html'">
          </div>
        </div> 
      </div>

      <div 
        class="col-md-6">
        <!--ng-show="ctrlMain.showSlots(currentFrame)">-->
        
        <h2>{{currentFrame.name}}</h2>
        <div class="well">
        <span>Добавить дочерний фрейм</span>
         <input 
           ng-model="newFrameName" 
           type="text">
          <button 
            ng-click="ctrlMain.addFrame(currentFrame, newFrameName)"
            ng-class="{'text-danger': !ctrlMain.checkFrameName(frames[0], newFrameName)}"
            class="btn btn-success">
            <span class="glyphicon glyphicon-ok"></span>
          </button>
          <div 
            ng-show="!ctrlMain.checkFrameName(frames[0], newFrameName)"
            class="text-danger">
            Ошибка: фрейм с таким именем уже есть
          </div>
          <input type="text" ng-model="renamedFrameName" />
          <button 
            ng-click="ctrlMain.renameFrame(currentFrame, renamedFrameName)"
            class="btn btn-primary" 
            type="submit">
              Переименовать фрейм
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
          <div 
            ng-show="!ctrlMain.checkFrameName(frames[0], renamedFrameName)"
            class="text-danger">
            Ошибка: фрейм с таким именем уже есть
          </div>
          <div class="edit-block">
            <select 
              ng-model="newFrameParent"
              ng-options="frame.name for frame in ctrlMain.getAllFramesExceptCurrent(frames[0], currentFrame)"
              name="np" 
              id="">
            </select>
            <button
              ng-click="ctrlMain.changeParent(currentFrame, newFrameParent)"
              class="btn btn-primary">
                Изменить родителя
             <span class="glyphicon glyphicon-random"></span>
            </button>
            <button 
              ng-click="ctrlMain.deleteFrame(currentFrame)"
              class="btn btn-danger" type="submit">Удалить фрейм
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </div>

        </div>
        <h3>Слоты фрейма: </h3>
        <h4>Ближайший родитель: {{currentFrame.parent.name}}</h4>


        <table class="table table-striped" id="slots-table" >
          <thead>
            <th>Имя слота</th>
            <th>Переименовать слот</th>
            <th>Тип слота</th>
            <th>Значение слота</th>
            <th>Удалить слот</th>
          </thead>
          <tbody>
            <tr ng-repeat="slot in currentFrame.slots">
              <td>
                  {{slot.name}}
              </td>
              <td>
                  <button 
                    ng-click="ctrlMain.renameSlot(currentFrame, slot)"
                    class="btn btn-primary" 
                    type="submit">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </button>
              </td>
              <td>{{slot.type}}</td>
              <td>{{slot.value}}</td>
              <td>
                <button 
                  ng-click="ctrlMain.deleteSlotConfirm(currentFrame, slot)"
                  class="btn btn-danger" 
                  type="submit">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>
              </td>
            </tr>
            <tr>
              <td ng-class="{'text-danger':!ctrlMain.checkSlotName(currentFrame, newSlotName), 'text-success':ctrlMain.checkSlotName() }">
                {{newSlotName}}
              </td>
              <td></td>
              <td>{{newSlotType.name}}</td>
              <td ng-class="{'text-danger':!newSlotType.check(newSlotValue), 'text-success':newSlotType.check(newSlotValue) }">
                {{newSlotValue}}
              </td>
            </tr>
            <tr> 
              <td>
                <input 
                  type="text"ng-model="newSlotName"></input>
              </td>
              <td></td>
              <td>
                <select 
                  name="types" 
                  ng-options="type.name for type in ctrlMain.types"
                  ng-model="newSlotType">
              </td>
              <td>
                <input 
                  ng-hide="newSlotType.name == 'bool'"
                  type="text"ng-model="newSlotValue" 
                  style="width: 100px;"></input>
                <select 
                  name="bool-select"
                  ng-show="newSlotType.name == 'bool'"
                  ng-options="value for value in newSlotType.values"
                  ng-model="newSlotValue"></select>
              </td>
              <td>
                <button 
                  ng-click="ctrlMain.addSlot(currentFrame, newSlotName, newSlotType, newSlotValue)" 
                  class="btn btn-success">
                    Добавить
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        
        <div 
          ng-hide="ctrlMain.checkSlotName(currentFrame, newSlotName)"
          class="text-danger">
            Ошибка: Слот с именем "{{newSlotName}}" уже присутствует в данном фрейме.
        </div>
      </div>

    </div>
    
    <div class="row" ng-show="showSave">
      <div class="json-save">
        <button 
          ng-click="ctrlMain.hideSave()"
          ng-show="showSave"
          class="btn btn-primary" type="submit">
          Продолжить 
        </button>
      </div>
      <pre>{{ctrlMain.getFrames() | json}}</pre>
      <div class="json-save">
        <button 
          ng-click="ctrlMain.hideSave()"
          ng-show="showSave"
          class="btn btn-primary" type="submit">
          Продолжить 
        </button>
      </div>
    </div>
    
    <div class="row" ng-show="showLoad">
      <div>
      {{toLoad}}
      </div>
      <div class="back-from-load">
        <button 
          ng-click="ctrlMain.hideLoad()"
          class="btn btn-primary" type="submit">
          Вернуться
        </button>
      </div>
      <textarea rows="100" cols="85" ng-model="toLoad">  
      </textarea>
      <div class="load-button">
        <button 
          ng-click="ctrlMain.loadNewFrames(toLoad)"
          ng-show="showLoad"
          class="btn btn-success" type="submit">
          Загрузить 
        </button>
        <div
          ng-show="errorEmptyLoad"
          class="text-danger">
          Ошибка: в поле ввода пусто 
        </div>
      </div>
    </div>

  </div>


  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!-- <div ng-view></div> -->

  <!-- <div>Angular seed app: v<span app-version></span></div> -->

</body>
</html>
